.header {
  background-image: url("../images/bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  position: relative;
}

.header__textbox {
  text-align: center;
}

.header__text {
  font-size: 6rem;
  font-family: "Libre Franklin";
  font-weight: 900;
  font-style: italic;
  color: #dff9fb;
}

.header__text a {
  color: inherit;
}
